* {
  all: unset;
  font-family: "JetBrainsMono";
  font-weight: bold;
}

@import "scss/colors.scss";
@import "scss/mocha.scss";
@import "scss/lib.scss";


/* Widget css */
//@import "scss/clock.scss";

/*  Top Bar */
@import "testbar.scss";
//@import "scss/bar.scss";

/* Sidebar */
/*@import "scss/big-time.scss";*/
/*@import "scss/dashboard.scss";
@import "scss/system.scss";
@import "scss/mem_circle.scss";
@import "scss/cpu_circle.scss";*/
