/** time **/
.hour_class {
    color: #bec8da;
    font-size: 42px;
    font-weight: bold;
    margin: 15px 0px 0px 10px;
}

.minute_class {
    color: #bec8da;
    font-size: 42px;
    margin: 15px 10px 0px 20px;
}

.mer_class {
    color: #767c87;
    font-size: 22px;
    margin: 15px 0px 0px 0px;
}


.day_class {
    color: #767c88;
    font-size: 30px;
    margin: 0px 0px 10px 10px;
}

.month_class {
    color: #767c88;
    font-size: 30px;
    margin: 0px 10px 10px 10px;
}

.year_class {
    color: #767c88;
    font-size: 30px;
    margin: 0px 20px 10px 10px;
}


.time_sep_class {
    color: #bec8da;
    font-size: 18px;
    margin: 0px 0px 0px 0px;
}

.day_class_n {
    color: #767c88;
    font-size: 18px;
    margin: 0px 0px 5px 10px;
}

.month_class_n {
    color: #767c88;
    font-size: 18px;
    margin: 0px 0px 5px 0px;
}
