* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  color: white;
  background: #1e1e2e;
}

window#waybar {
  border-radius: 8px;
  padding: 5px;
  background: #1e1e2e;
}

#custom-menu {
  background: #1e1e2e;
  padding: 10px;
}

