.cpu_circle {
  color: $primary; // fill color
  background-color: rgba($primary, 0.1); // background ring
  margin: 1rem;

  .cpu_label {
    font-size: 1.4rem;
    font-weight: bold;
    color: $onSurface;
  }
}

