$catrosewater: #f5e0dc;
$catflamingo: #f2cdcd;
$catpink: #f5c2e7;
$catmauve: #cba6f7;
$catred: #f38ba8;
$catmaroon: #eba0ac;
$catpeach: #fab387;
$catyellow: #f9e2af;
$catgreen: #a6e3a1;
$catteal: #94e2d5;
$cat-sky: #89dceb;
$cat-sapphire: #74c7ec;
$cat-blue: #89b4fa;
$cat-lavender: #b4befe;
$cat-text: #cdd6f4;
$cat-subtext1: #bac2de;
$cat-subtext0: #a6adc8;
$cat-overlay2: #9399b2;
$cat-overlay1: #7f849c;
$cat-overlay0: #6c7086;
$cat-surface2: #585b70;
$cat-surface1: #45475a;
$cat-surface0: #313244; /*rgba(31, 41, 55, 1)*/
$cat-base: #1e1e2e;
$cat-mantle: #181825;
$cat-crust: #11111b;
