$bg         : #2E3440;  // Nord0
$bg-alt     : #3B4252;  // Nord1
$bg-hover   : #434C5E;  // Nord2
$bg-muted   : #4C566A;  // Nord3

$fg         : #D8DEE9;  // Nord4
$fg-alt     : #E5E9F0;  // Nord5
$fg-bright  : #ECEFF4;  // Nord6

$cyan       : #8FBCBB;  // Nord7
$blue       : #81A1C1;  // Nord9
$red        : #BF616A;  // Nord11
$orange     : #D08770;  // Nord12
$yellow     : #EBCB8B;  // Nord13
$green      : #A3BE8C;  // Nord14
$purple     : #B48EAD;  // Nord15

$nord16     : #A1C1CA;
$nord17     : #A5A8DE;
$nord18     : #C58E9D;
$nord19     : #B3CFAE;
$nord20     : #B2B6C3;
$nord21     : #D9A97A;
