@import "../themes/mocha.css"; 

* {
    font-family: "MesloLGS Nerd Font Mono Bold";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
    margin-right: 4px;
    color: @text;
}

window#waybar {
    background-color: rgba(31, 41, 55, 0.85);
    color: @overlay0;
    padding-bottom: 6px;
    padding-top: 6px;
    border-radius: 10px;
    border: 3px solid @base;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#window {
    margin: 8px;
    background-color: rgba(31, 41, 55, 0.0);
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    color: @mauve;
    border-top: 2px solid @mauve;
}
#workspaces {
    padding-left: 5px;
}
#workspaces button {
    margin-right: 0px;
    padding-right: 4px;
}
#workspaces button.focused {
    background-color: @base;
    background: transparent;
    color: @rosewater;
    /*border-top: 2px solid @rosewater;*/
}

#workspaces button.active {
    /*background-color: rgba(30, 30, 46, 0.3);*/
    color: @mauve;
    /*border-top: 2px solid @mauve;*/
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#taskbar button {
    margin-right: 0px;
    margin-left: 0px;

}
#taskbar button.active {
    border-bottom: 2px solid @mauve;
}

#pulseaudio,
#clock,
#battery,
#temperature,
#backlight,
#wireplumber,
#network,
#mode,
#bluetooth,
#custom-exit,
#cpu,
#memory,
#disk,
#custom-notify,
#scratchpad {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
  
#hardware {
    background-color: rgba(31, 41, 55, 0.1);
    padding: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    /*transition: background-color 0.3s ease;*/
}
.not-hard {
    margin: 0px;
    margin-left: 4px;
    margin-right: 4px;
    padding: 0px;
    padding-left: 8px;
    padding-right: 8px;
    border-bottom: 2px solid @lavender;
}
#custom-system {
    color: @lavender;
}

#clock {
    color: @maroon;
    border-bottom: 2px solid @maroon;
}

#clock.date {
    color: @mauve;
    border-bottom: 2px solid @mauve;
}

#pulseaudio {
    color: @blue;
    border-bottom: 2px solid @blue;
}

#network {
    color: @yellow;
    border-bottom: 2px solid @yellow;
}

#idle_inhibitor {
    margin-left: 6px;
    color: @teal;
}

#idle_inhibitor.activated {
    color: @red;
}

#battery {
    color: @green;
    border-bottom: 2px solid @green;
}

#bluetooth {
    color: @sapphire;
    border-bottom: 2px solid @sapphire;
}

#temperature {
    color: @red;
    border-bottom: 2px solid @red;
}

#temperature.critical {
	border: 2px solid @red;
}

#cpu,
#memory,
#disk {
    color: @subtext1;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#custom-notify {
  color: @teal;
}

#custom-vpn {
    color: @lavender;
    border-radius: 15px;
    padding-left: 6px;
    padding-right: 6px;
}
