/*  Need to convert colors to pywal appropriate names */

@import "../themes/mocha.css";

* {
  font-weight: bold;
  padding: 0;
  margin: 0;
}

#group-right {
  background-color: rgba(69, 71, 90, 1); /* a bit less transparent for solid feel */
  border: 1.5px solid @mauve;             /* border color from your palette */
  border-radius: 5px;
  padding: 4px 10px;
}

#waybar {
  /*background-color: rgba(69, 71, 90, 0.6);*/
  background: transparent;
  /*border: 2px ridge @crust;*/
  margin: 0;
  padding: 0;
  color: @base;
  /*box-shadow: 0px 2px 5px 5px rgba(17,17,27, 1);*/
}

/* Background of the workspace module */
#workspaces {
  border-radius: 5px;
  padding: 12px 8px;
  margin: 3px;
  background-color: @base;
  margin-right: 5px;
}

#workspaces button {
  all: unset;
  background-color: @mauve;
  border: 1px solid @mauve;
  border-radius: 30px;
  margin: 0px 2px;
  padding: 1px;
  min-width: 10px;
  min-height: 8px;
  font-size: 0px; /* Hide text without breaking layout */
}

/* Active workspace = pill */
#workspaces button.focused{
  padding: 1px 15px;
  background-color: @lavender;
  border: 2px solid @lavender;
  font-size: 0px;
}

/* Optional: urgent */
#workspaces button.urgent {
  background-color: @red;
  border: none;
}

/* Empty workspace = hollow circle */
#workspaces button.empty {
  padding: 1px 0px;
  background-color: transparent;
  border: 2px solid @mauve;
}

#workspaces button.empty.focused {
  padding: 0.5px 15px;
  background-color: transparent;
  border: 2px solid @lavender;
}

#window {
  font-weight: bold;
  border-radius: 5px;
  background-color: @mauve;
  color: @base;
  padding: 0px 8px;
  margin: 3px;
  font-size: 14px;
  border: 2px inset @crust; 
}

#pulseaudio,
#clock,
#wireplumber,
#custom-notify,
#custom-dashboard,
#bluetooth,
#network,
#battery {
  border-radius: 5px;
  margin: 3px 3px;
  padding: 0px 8px;
  font-weight: bold;
  font-size: 14px;
  border-color: @crust;
  border: 2px inset @crust;
}

tooltip {
  color: @text;
  background-color: @base;
  border-radius: 5px;
  padding: 5px;
  text-shadow: none;
  box-shadow: none;
  border: 2px solid @base;
}

/* get rid of the pesky inner border */
tooltip * {
  background-color: transparent;
  color: @text;
}

#custom-notify {
  padding-left: 10px;
  padding-right: 15px;
}

/* Color the modules */
#pulseaudio { background-color: @peach }
#network { background-color: @lavender }
#battery { background-color: @yellow }
#custom-dashboard { color: @lavender }
#bluetooth { background-color: @teal }
#custom-notify { background-color: @blue }
#clock { background-color: @maroon }

/* hover */
#pulseaudio:hover,
#network:hover,
#battery:hover,
#bluetooth:hover,
#custom-notify:hover {
    opacity: 1;
}

#pulseaudio,
#network,
#battery,
#bluetooth,
#custom-notify { opacity: 0.90 }
